# Economic mobility data


## Data Description
We have identified the longitudinal economic mobility statistics as our dataset. It comes from this NGO called https://opportunityinsights.org/. The data comes in as a flat file. The file reports parents’ household income distributions and key statistics on children’s income distributions conditional on their parents’ incomes by college tier and birth cohort. There is one row for each parent income ventile (5 percentile point bin) and college tier. In addition to the twenty ventiles, an additional row for each cohort provides data for the 99th parent income percentile for each cohort and
college tier.

The values in this file are exact statistics because they aggregate across multiple colleges. Following established disclosure standards, all dollar amounts are rounded to the nearest 100 and cells with fewer than 50 observations are omitted. Monetary values are measured in 2015 dollars. 


## Data description

https://opportunityinsights.org/wp-content/uploads/2018/04/Codebook-MRC-Table-8.pdf

## Analysis

### General goal
We want to figure out the determinants of social mobility and also observe the trend over time.


#### Determinants of social mobility

1. We want to create a social mobility index using the variables collected in the data
2. We want to build a simple linear regresssion to discover what are some of the determinants of the social mobility and their regressional effect on the social mobility index, if any. 


#### Trend
1. We want to graph the social mobility over time
2. We want to graph the coefficient / effect of these determinants over time

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['1', 'one', 'uno', 'une'],
                   'B' : ['2', 'two', 'duo', 'deux'],
                   'C' : ['3', 'three', 'tres', 'trois'],
                   'D' : ['4', 'four', 'quatro', 'quatre']})
header = ['Numeral','English','Spanish','French']

def is_group1(word):
    if len(word) <= 4 :
        return True
    return False

def is_group1_group(df,ind,col):
    try:
        if is_group1(df[col].loc[ind]):
            return 'Group 1'
    except:
        pass
    return 'Group 2'

grouped = df.groupby(lambda x: is_group1_group(df,x,'C'))

In [8]:
grouped.count()['A'].iloc[0]

2

In [11]:
grouped.count()
df

     A     B      C       D
0    1     2      3       4
1  one   two  three    four
2  uno   duo   tres  quatro
3  une  deux  trois  quatre